.container {
    padding-left: 15px;
    padding-right: 15px;
}

#title-container {
    display: flex;
    align-items: center;
}

#title-container h1 {
    margin: 0;
    flex-grow: 1;
}

#instructions {
    margin-left: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="text"] {
    width: 150px; /* Adjusted width */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px; /* Added space before and after */
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background: #555;
}

#results {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
